@font-face {
  font-family: 'Noto Sans JP';
  src: url('/src/font/NotoSansJP-VariableFont_wght.ttf');
  font-weight: 400 700;
}

/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
$clr-red: #e06c75;

$bgc-main: #ffffff;
$bgc-sub: #dfdfdf;
$bgc-accent: #f1f1f1;

$clr-main: #464646;
$clr-sub: #adadad;
$clr-accent: #f1f1f1;
$clr-accent: #f9f9f9;
$clr-code-bg: #ffffff;
$clr-config-bg: #ffffff;
$bdc: #e0e0e0;

$ff-sans: 'Noto Sans JP', sans-serif;
$ff-mono: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN',
  'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
$transition: all 0.3s;

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
*,
*:before,
*:after {
  // outline: 1px solid #ff0000 !important;
  // background-color: #ff00001a !important;
}

body {
  font-family: $ff-sans;
  color: $clr-main;
  background-color: $bgc-main;
  font-size: clamp(12px, 1.5vw, 14px);
}

#root {
  display: flex;
  flex-direction: column;
}

.pc-none {
  display: none !important;
  visibility: hidden !important;
}

.cmn-py {
  padding-block: 20px;
}

.cmn-mb {
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 4px;
}

a {
  color: inherit;
  transition: $transition;
  text-decoration: none;
}

.input-text {
  label {
    color: $clr-sub;
    display: block;
    margin-bottom: 5px;
  }

  input {
    border: none;
    // outline: 1px solid $clr-sub;
    outline: none;
    border: 1px solid $bdc;
    background-color: $bgc-main;
    padding-inline: 5px;
    width: 100%;

    &::placeholder {
      color: $clr-sub;
    }
  }

  &--full {
    width: 100%;

    input {
      width: 100%;
    }
  }

  &--option {
    margin-top: 5px;
  }
}

.button-icon {
  all: unset;
  transition: $transition;
  // color: $clr-sub;

  &:hover {
    color: $clr-main;
    cursor: pointer;
  }

  &--delete:hover {
    color: $clr-red;
  }

  &--small {
    font-size: 16px;
  }

  &:disabled {
    &:hover {
      cursor: default;
    }
  }
}

.side-note {
  color: $clr-sub;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $bdc;

  &--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }
}

.cmn-button {
  width: 100%;
  transition: $transition;
  background-color: #f0f0f0;
  border-radius: 3px;
  // border: 1px solid $bdc;
  padding-block: 3px;
  border: none;
  font-family: $ff-sans;

  &:hover {
    cursor: pointer;
    background-color: #dfdfdf;
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &:disabled {
    background-color: #f0f0f0;

    &:hover {
      cursor: auto;
    }
  }

  &--dark {
    background-color: #e2e2e2;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  width: min(100%, 1080px);
  margin-inline: auto;
  padding-inline: 15px;
  background-color: $bgc-main;
  display: flex;
  flex-flow: row nowrap;

  & > * {
    padding-block: 73px 45px;
    overflow: auto;
  }

  &__wrapper {
    width: 100%;
    padding-block: 73px 45px;
    border-inline: 1px solid $bdc;
  }

  .dvh100 {
    height: 100dvh;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: $bgc-main;
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 15px;
  border-bottom: 1px solid $bdc;
  z-index: 100;
  font-size: 14px;
  z-index: 100;

  &__wrapper {
    padding-inline: calc(50% - 540px);
    margin-inline: 15px;
  }

  &__logo {
    width: fit-content;
    display: block;
  }

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Setting                                  */
/* -------------------------------------------------------------------------- */
.setting {
  &__wrapper {
    // margin-block: 0 20px;
    padding: 20px;
    // border-bottom: 1px solid $bdc;
    border-bottom: 1px dashed $bdc;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Form                                    */
/* -------------------------------------------------------------------------- */
.form {
  &__item {
    label {
      // display: inline-block;
      // text-transform: uppercase;
      margin-right: 5px;
    }

    input {
      background-color: #fff;
      border: 1px solid #e0e0e0;
      outline: none;
      padding-inline: 5px;

      &::placeholder {
        color: $clr-sub;
      }
    }

    &--row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row nowrap;
    }
  }

  &--setting,
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
  }

  &__button {
    margin-inline: 30px 0;

    button {
      // width: 100%;
      transition: $transition;
      background-color: #f0f0f0;
      border-radius: 3px;
      // border: 1px solid $bdc;
      padding: 3px 30px;
      width: 120px;
      border: none;
      font-family: $ff-sans;

      // &:not(:first-of-type) {
      //   margin-left: 10px;
      // }

      &:hover {
        cursor: pointer;
        // background-color: #dfdfdf;
        opacity: 0.7;
      }
    }

    &--small {
      margin-inline: 10px auto;

      button {
        padding: 3px 10px;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Control                                  */
/* -------------------------------------------------------------------------- */
.control {
  // border-top: 1px dashed $bdc;
  border-bottom: 1px solid $bdc;

  &__note {
    color: $clr-sub;
  }

  table {
    width: 100%;
    padding: 5px 10px;
    // table-layout: fixed;
    text-align: left;
    border-collapse: separate;
    // border-spacing: 0 rem(10);
    background-color: $clr-accent;

    thead {
      // background-color: $clr-accent;
      font-size: 13px;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $clr-accent;
        }
      }
    }

    th,
    td {
      &:not(:last-child) {
      }
    }
  }

  // &__list {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-flow: row wrap;
  //   gap: 15px;
  // }

  // &__item {
  //   border-radius: 3px;
  //   background-color: $clr-accent;
  //   padding: 5px 25px;
  //   // position: relative;

  //   // &:hover {
  //   //   transition: $transition;
  //   //   position: relative;
  //   // }

  //   button {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     position: absolute;
  //     width: 26px;
  //     height: 26px;
  //     inset: 0 0 auto auto;
  //     transform: translate(20%, -20%);
  //     background-color: #f0f0f0;
  //     border-radius: 50%;
  //     // border: 1px solid $bdc;
  //     border: none;
  //     font-family: $ff-sans;
  //     font-size: 12px;

  //     span {
  //       transition: $transition;
  //       color: $clr-main;
  //     }

  //     &:hover {
  //       cursor: pointer;

  //       span {
  //         color: $clr-red;
  //       }
  //     }
  //   }
  // }
}

/* -------------------------------------------------------------------------- */
/*                                   Output                                   */
/* -------------------------------------------------------------------------- */
.output {
  &__wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 20px;
  }

  &__item {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $bdc;
    // background-color: $clr-accent;
    // padding: 5px 10px;

    header {
      padding: 7px;
      border-bottom: 1px dashed $bdc;

      h2 {
        font-size: 1.17em;
      }

      small {
        color: $clr-sub;
      }
    }

    &-code {
      pre {
        margin-block: 0;
      }

      code {
        font-family: $ff-mono;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: $bgc-main;
  position: fixed;
  inset: auto 0 0 0;
  padding-block: 4px;
  text-align: center;
  border-top: 1px solid $bdc;
  z-index: 100;

  small {
    margin-inline: 15px;
    white-space: nowrap;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Others                                   */
/* -------------------------------------------------------------------------- */
.hidden {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;

  h2 {
    margin-bottom: 5px;
  }
}

/* ---------------------------------- Icons --------------------------------- */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
